.user-inp {
  width: 390px;
  height: 3vh;
  font-size: 20px;
}

.location-item {
  cursor: pointer;
  padding: 5px 0px;
  background-color: #242424;
  border-radius: 5px;
  margin-bottom: 5px;
}

.location-item:hover {
  background-color: #444;
}
