.user-inp {
  width: 390px;
  height: 3vh;
  font-size: 20px;
  margin: 5% 0;
}

.location-item {
  cursor: pointer;
  padding: 5px 0px;
  background-color: transparent;
  /*background-color: #292929;*/
  border-radius: 5px;
}

.location-item:hover {
  background-color: #444;
}
