/*
TODO: Find svg for heavy intesity rain, and if possible few clouds
*/

.clear-sky {
  background-image: url("/public/img/clearSky.svg");
  background-repeat: repeat;
  background-size: calc(25vw);
}

.few-clouds {
  background-image: url("/public/img/scatteredClouds.svg");
  background-repeat: repeat;
  background-size: calc(25vw);
}

.scattered-clouds {
  background-image: url("/public/img/scatteredClouds.svg");
  background-repeat: repeat;
  background-size: calc(25vw);
}

.broken-clouds {
  background-image: url("/public/img/brokenClouds.svg");
  background-repeat: repeat;
  background-size: calc(25vw);
}

.overcast-clouds {
  background-image: url("/public/img/overcastClouds.svg");
  background-repeat: repeat;
  background-size: calc(25vw);
}

.mist {
  background-image: url("/public/img/mist.svg");
  background-repeat: repeat;
  background-size: calc(20vw);
}

.fog {
  background-image: url("/public/img/fog.svg");
  background-repeat: repeat;
  background-size: calc(25vw);
}

.smoke {
  background-image: url("/public/img/smoke.svg");
  background-repeat: repeat;
  background-size: calc(25vw);
}

.haze {
  background-image: url("/public/img/haze.svg");
  background-repeat: repeat;
  background-size: calc(25vw);
}

.drizzle {
  background-image: url("/public/img/lightRain.svg");
  background-repeat: repeat;
  background-size: calc(25vw);
}

.light-intensity-drizzle {
  background-image: url("/public/img/lightRain.svg");
  background-repeat: repeat;
  background-size: calc(25vw);
}

.light-rain {
  background-image: url("/public/img/lightRain.svg");
  background-repeat: repeat;
  background-size: calc(25vw);
}

.light-intensity-shower-rain {
  background-image: url("/public/img/lightRain.svg");
  background-repeat: repeat;
  background-size: calc(25vw);
}

.moderate-rain {
  background-image: url("/public/img/moderateRain.svg");
  background-repeat: repeat;
  background-size: calc(25vw);
}

.shower-rain {
  background-image: url("/public/img/moderateRain.svg");
  background-repeat: repeat;
  background-size: calc(25vw);
}

.heavy-rain {
  background-image: url("/public/img/heavyRain.svg");
  background-repeat: repeat;
  background-size: calc(25vw);
}

.heavy-intensity-rain {
  background-image: url("/public/img/heavyRain.svg");
  background-repeat: repeat;
  background-size: calc(25vw);
}

.very-heavy-rain {
  background-image: url("/public/img/heavyRain.svg");
  background-repeat: repeat;
  background-size: calc(25vw);
}

.thunderstorm {
  background-image: url("/public/img/thunderstorm.svg");
  background-repeat: repeat;
  background-size: calc(25vw);
}

.snow {
  background-image: url("/public/img/snow.svg");
  background-repeat: repeat;
  background-size: calc(25vw);
}

.hail {
  background-image: url("/public/img/hail.svg");
  background-repeat: repeat;
  background-size: calc(25vw);
}

.sand {
  background-image: url("/public/img/sand.svg");
  background-repeat: repeat;
  background-size: calc(25vw);
}

.tornado {
  background-image: url("/public/img/tornado.svg");
  background-repeat: repeat;
  background-size: calc(25vw);
}
