#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.location-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
}

.location-item {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #242424;
  border-radius: 5px;
}

.location-item:hover {
  background-color: #444;
}
